.contenedor {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    grid-template-areas: 
    "ush    lari    cata    santa"
    "rosa   lapa    sanjua  rioga"
    "bsas   babla   trel    mendo"
    ;
}

.ush {
    grid-area: ush;
}

.lari {
    grid-area: lari;
}

.cata {
    grid-area: cata;
}

.santa {
    grid-area: santa;
}

.rosa {
    grid-area: rosa;
}

.lapa {
    grid-area: lapa;
}

.sanjua {
    grid-area: sanjua;
}

.rioga {
    grid-area: rioga;
}

.bsas {
    grid-area: bsas;
}

.babla {
    grid-area: babla;
}

.trel {
    grid-area: trel;
}

.mendo {
    grid-area: mendo;
}

.distri {
    background-color: $bg2;
    border-radius: 10px;
}

@media screen and (max-width: 786px){
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "ush     lari    cata"
        "santa   rosa    lapa"
        "sanjua  rioga   bsas"
        "babla   trel    mendo"
        ;
    }
}

@media screen and (max-width: 576px){
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "ush     lari"
        "cata    santa"   
        "rosa    lapa"
        "sanjua  rioga"
        "babla   bsas"
        "trel    mendo"
        ;
    }
}