@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$fontMont: 'Montserrat', sans-serif;
$mainColor: #219EBC;
$bgNavbar: #FB8500;
$bgFooter: #023047;
$fontColor: white;
$bg2: #8ECAE6;
$bgHover: #FFB703;